/** Globales **/

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffff, #9198e5);
}

.header img {
  width: 10rem;
}

/* Cuadro Principal */

.art {
  /* display: table;  / Da flexibilidad a la tabla */
  background-color: black;
  margin: 2rem 0 0 0;
  border-spacing: 0.1rem;
  border: 0.5rem solid #9198e5;
  border-radius: 1.5rem;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 4rem;
  height: 4rem;
}

.pixel--movil {
  display: none;
}

/* Aside bar de Herramientas */

.contenedor__abj {
  display: flex;
  justify-content: center;
}

.contenedor__arb {
  display: flex;
  justify-content: center;
}

.herramientas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #9198e5;
  border: 0.2rem solid black;
  border-radius: 1rem;
  margin: 2rem 1rem;
}

.herramientas__pen {
  display: block;
  align-self: center;
  justify-self: center;
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid black;
  cursor: pointer;
}

.piker {
  grid-column: 4/6;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.piker__input {
  padding: 0;
  appearance: none;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.5rem solid white;
  cursor: pointer;
}

.piker__input::-webkit-color-swatch {
  border: none;
  border-radius: 10%;
}

.piker__texto {
  display: inline;
  text-align: center;
  text-justify: center;
}

.herramientas__btn-borrar {
  grid-column: 2/3;
  margin: 0.5rem;
  font-weight: bold;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem 1rem;
  color: white;
  background-color: #cf2a77;
  align-self: center;
  justify-self: center;
}

.herramientas__btn-borrar:active {
  background: linear-gradient(to bottom, #c9629a 5%, #e079d3 100%);
  background-color: #c03e95;
}

.herramientas__btn-descargar {
  grid-column: 3/5;
  margin: 0.5rem;
  font-weight: bold;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem 1rem;
  width: 10rem;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: #cf2a77;
}

.herramientas__btn-descargar:active {
  background: linear-gradient(to bottom, #c9629a 5%, #e079d3 100%);
  background-color: #c03e95;
}

/* footer */
.logo:active {
  -webkit-animation: animar 0.8s 1;
}

.footer {
  background: linear-gradient(#9198e5, #ffff);
  height: 10rem;
}

.enlaces {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

@-webkit-keyframes animar {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  10% {
    -webkit-transform: translate(0px, 10px);
  }

  20% {
    -webkit-transform: translate(0px, 0px);
  }

  30% {
    -webkit-transform: translate(0px, 10px);
  }

  40% {
    -webkit-transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(0px, 10px);
  }

  60% {
    -webkit-transform: translate(0px, 0px);
  }

  70% {
    -webkit-transform: translate(0px, 10px);
  }

  80% {
    -webkit-transform: translate(0px, 0px);
  }

  90% {
    -webkit-transform: translate(0px, 10px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

.logo {
  background-color: black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.enlaces__nombres {
  font-size: 2rem;
  font-weight: bold;
  border: 0.1rem solid gray;
  border-radius: 2rem;
  padding: 0 1rem;
  color: white;
  background-color: green;
}

.enlaces__nombres:active {
  font-size: 2.5rem;
  background-color: rgb(57, 185, 57);
}

/* Tablet version */

@media (min-width: 768px) {
  .pixel--movil {
    display: table-cell;
  }

  .pixel {
    width: 5rem;
    height: 5rem;
  }

  .herramientas {
    display: flex;
  }

  .contenedor {
    margin: 4rem 0;
  }
}

/* Desktop version */

@media (min-width: 1280px) {
  .contenedor {
    margin: 0;
  }

  .pixel {
    width: 4rem;
    height: 4rem;
  }

  .logo:hover {
    -webkit-animation: animar 0.8s 1;
  }

  .enlaces {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .herramientas__btn-borrar:hover {
    background: linear-gradient(to bottom, #c9629a 5%, #e079d3 100%);
    background-color: #c03e95;
  }

  .herramientas__btn-descargar:hover {
    background: linear-gradient(to bottom, #c9629a 5%, #e079d3 100%);
    background-color: #c03e95;
  }

  .enlaces__nombres:hover {
    font-size: 2.5rem;
    background-color: rgb(57, 185, 57);
  }
}